<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tawte Clinic</title>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400;1,900&family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400;1,900&family=Poppins:wght@300&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body style="background-color: rgb(54, 164, 197);" >

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container text-uppercase p-2">
  
    <a class="navbar-brand" href="#">Tawte Clinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item-c">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item-c">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item-c">
          <a class="nav-link" href="#">Media</a>
        </li>
        <li class="nav-item-current active">
          <a class="nav-link">Appointments <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item-c">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 25px;padding: 20px;">
<h3><%= viewTitle %></h3>

<form action="/appointment" method="POST" autocomplete="off">
  <div class="form group">
    <label>Date</label>
    <input type="text" class="form-control" name="date" placeholder="dd/mm/yyyy" v">
    <div class="text-danger">
      
    </div>
  </div>
  <div class="form group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" placeholder="Full Name" >
    <div class="text-danger">
     
    </div>
  </div>
  <div class="form group">
    <label>Phone Number</label>
    <input type="text" class="form-control" name="mobile" placeholder="Phone Number" >
  </div>
  <div class="form group">
    <label>Time</label>
    <input type="text" class="form-control" name="time" placeholder="Time(H:MM)" >
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info ">Submit</button>
  </div>
</form>
</div>
<footer class="fixed-bottom bg-dark">
  <p class="text-center text-muted">© Copyright 2020 Anushka Tawte</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>