<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tawte Clinic</title>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400;1,900&family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400;1,900&family=Poppins:wght@300&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  <div class="header" id="topheader">
    <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container text-uppercase p-2">

      <a class="navbar-brand font-weight-bold text-white" href="#">Tawte Clinc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-uppercase">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/appointment">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <section class="header-section">
      <div class="center-div">
        <h1 class='font-weight-bold'>Surgical and Endoscopy Clinic</h1>
        <p>Some sentence...</p>
        <div class="header-buttons">
          <a href="/appointment">Book an Appointment</a>
          
        </div>
      </div>
    </section>
  </div>
<!-- ****************************** HEADER ENDS ******************** -->

<!-- **************************** more info ****************************** -->

<section class="second-header" >
<div class="container col">

  <h1 class='welcome-text font-weight-bold text-center'>Welcome to Tawte Clinic</h1>
  <h2 class="About-us text-center">About us</h2>
  <section class="about-us-container text-center">
  <p>Tawte Clinic is located in Nerul, Navi Mumbai. Dr. Nitin Tawte has Expertise in Laparoscopic and open surgeries for the appendix, gall bladder, hernia, and stones etc. and he also has vast experience in Diagnostic and Therapeutic Endoscopy (Gastroscopy & Colonoscopy). Dr. Aparna Tawte is a Family Physician and her area of expertise includes Diabetes, Hypertension, Asthma, Thyroid and Infective Diseases like Malaria, Dengue etc.</p>
</section>
</div>

</section>


<footer class="bg-dark">
  <div id="contact">
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-12">
            <div class="footer-box text-center text-white">
              <h3>Phone</h3>
              <p class="stext">
                +(91) 9999999 <br>  +(91) 9799997
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <div class="footer-box text-center text-white">
              <h3>Location</h3>
              <p class="stext">
                Shop no:1, Himsagar Society, Sector-19, Nerul, Navi-Mumbai
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <div class="footer-box text-center text-white">
              <h3>Email</h3>
              <p class="stext">
                For queries, write to us: <br>
                Nitin@tawteclinic.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="copyright text-center text-muted">© Copyright 2020 Anushka Tawte</p>
    </section>
    </div>
  
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>